$enable-rounded: false !default;
$blue: skyblue;

button.btn {
   padding: map-get($map: $spacers, $key: 4);
}

button.btn-primary {
   background-color: $blue;
   border: 1px solid $blue;
}

button.btn-danger {
   background-color: $orange;
   border: 1px solid $orange;
}

.landing {
   background-image: "branding/background-landing.jpg";
   background-color: green;
}
